#
# {{ item.name }} Container Registry Configuration
# Managed by: Ansible
#

server = "{{ item.server }}"

[host."{{ item.url }}"]
  capabilities = {{ item.capabilities | from_yaml_all }}
  skip_verify = {{ item.skip_verify | default(false) | lower }}
