#
# IP Tables Firewall Rules for Kubernetes
# 
# Managed By ansible/role/nfc_kubernetes
#
# Dont edit this file directly as it will be overwritten. To grant a host API access
# edit the cluster config, adding the hostname/ip to path kubernetes_config.cluster.access
#


*filter

iptables -N sshd
iptables -A sshd -j RETURN

iptables -A INPUT -p tcp --dport 22 -m comment --comment "OpenSSH Server" -j sshd


iptables  -I sshd -m comment --comment "allow All Hosts" -j ACCEPT



COMMIT
